@import 'tailwindcss';

@theme {
	--font-syne: 'Syne Variable', sans-serif;
	--font-display: 'Playfair Display Variable', serif;
	--font-sans: 'DM Sans Variable', sans-serif;
}

@layer base {
	body {
		font-family: var(--font-sans);
	}
}
