@import 'tailwindcss';

@theme {
	--font-syne: 'Syne Variable', sans-serif;
	--font-display: 'Playfair Display Variable', serif;
	--font-sans: 'DM Sans Variable', sans-serif;

	--color-canvas: #faf7f2;
	--color-charcoal: #141414;
	--color-slate: #666060;

	--color-ember: #e84a2e;
	--color-lagoon: #2a9d8f;
	--color-goldenrod: #f4c430;

	--color-linen: #ede8e0;
	--color-pure-white: #ffffff;

	--color-vermillion: #e8341c;

	--animate-marquee: marquee 20s linear infinite;
	--animate-fadeUp: fadeUp 0.7s forwards;
	--animate-fadeIn: fadeIn 1s forwards;

	@keyframes marquee {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-50%);
		}
	}

	@keyframes fadeUp {
		from {
			opacity: 0;
			transform: translateY(22px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

@layer base {
	body {
		font-family: var(--font-sans);
		background: var(--color-canvas);
		color: var(--color-charcoal);
		/* cursor: none; */
	}
}
